/* IBM Plex Sans KR 400 */
@font-face {
  font-family: "IBM Plex Sans KR";
  font-weight: 400;
  src: url("/fonts/IBMPlexSansKR-Regular.ttf") format("truetype");
}

body {
  font-family: IBM Plex Sans KR;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  width: 100vw;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
